

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th{
    background-color: #ccc;
    cursor: pointer;
}

input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
}

button{
    padding: 4px 5px;
    margin-left: 20px;
}