*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 30px auto;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

th {
    background-color: #F8B195;
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tr:hover {
    background-color: green;
}

input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}

.highlight{
    background-color: yellow;
}